.site-header {
  padding-top: 22px;
  padding-bottom: 21px;
  background-color: var(--white-color);

  &-pointer{
    display: none;
    cursor: pointer;
  }

&__inner {
  display: flex;
  align-items: center;
}

&__logo {
  color: var(--title-color);

&__img {
  width: 108px;
  height: 29px;
  margin-right: 60px;
}
}
}

.site-nav{
&__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

&__link {
  display: inline-block;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--text-color);
  transition: all 0.5s ease;

&:active {
  color: var(--link-bg-color);
  transition: all 0.5s ease;
}
}
}
#menuList{

}

@media only screen and (max-width:576px){
  .site-header {
    padding-top: 22px;
    padding-bottom: 21px;
    background-color: var(--white-color);
  
    &-pointer{
      display: block;
      cursor: pointer;

    }
  
  &__inner {
    display: flex;
    align-items: center;
  }
  
  &__logo {
    color: var(--title-color);
  margin-left: 100px;
  &__img {
    width: 108px;
    height: 29px;  
    margin-right: 60px;
  }
  }
  }
  
  .site-nav{
  &__list {
    margin-top: 39px;
gap: 20px;
    width: 250px;
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;   
    background-color: black;
  z-index: 3;
  }
  

  &__link {
    padding: 10px 0;
    color: var(--white-color);
    display: inline-block;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 10px;
    transition: all 0.5s ease;
  
  &:active {
    color: var(--link-bg-color);
    transition: all 0.5s ease;
  }
  }
  }
  
  #menuList{
   height: 500px;
    overflow: hidden;
    transition: 0.5s; 
}
}