:root {
  --text-color: #939CAA;
  --title-color: #495567;
  --white-color: #FFF;
  --link-bg-color: #FCB72B;
  --second-font-family: "Lexend Deca", "Arial", sans-serif;
  --font-size: 15px;
  --font-weight: 700;
}